.bullet_list{
	list-style: outside square none;
}
.bullet_list_in{
	list-style: inside square none;
}
.label-italk{
	background-color: #73D94F;
}
.label-ctalk{
	background-color: #4F90D9;
}
.label-cpaper{
	background-color: #A92694
}
.pubtitle{
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 18px;
    font-weight: 300;
}
.pubmain {
    background: #fefefe;
    padding: 25px 25px 35px 25px;
    min-height: 130px;
    position: relative;
    -webkit-box-shadow: 0px 3px 3px -3px #ccc;
    box-shadow: 0px 3px 3px -3px #ccc;
}
.figlabel{
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 18px;
    font-weight: 300;
	text-align: center;
}
.block-single h2.large-title{
	font-size:25px;
	letter-spacing:5px;
	line-height:50px;
}
