* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	font:11px/18px Arial, sans-serif;
	color:#585f63;
	text-align:left;
	background:#dedede;
}
a {
	color:#0173b4;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
}
a img {
	border:0;
}
.ar {
	display:block;
	text-align:right;
}
.ac {
	display:block;
	text-align:center;
}
.al {
	display:block;
	text-align:left;
}
.cl {
	clear:both;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.fr {
	float:right;
	display:inline;
}
.fl {
	float:left;
	display:inline;
}
.hidden {
	display:none;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.shell {
	margin:0 auto;
	width:900px;
}
#header {
	height:65px;
}
h1#logo a {
	height:54px;
	width:224px;
	background:url(images/logo.gif) no-repeat 0 0;
	float:left;
	margin:0;
	text-decoration:none;
}
h1#logo a:hover {
	text-decoration:none;
}
h1#logo span {
	font-size:11px;
	text-align:right;
	line-height:13px;
	color:#919191;
	letter-spacing:1px;
	word-spacing:4px;
	display:block;
	padding:40px 0 0 0;
	font-weight:normal;
}
#nav {
	height:46px;
	padding-top:19px;
}
#nav ul {
	list-style-type:none;
	height:46px;
	background-color:#dedede;
}
#nav li {
	float:right;
	line-height:46px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	width:131px;
	text-transform:uppercase;
	margin-left:2px;
}
#nav li a {
	float:left;
	line-height:46px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	width:131px;
	color:#fff;
	background:url(images/li-bg.jpg) repeat-x;
}
#nav li a:hover, #nav li a.active {
	color:#000;
	background:#fff;
	text-decoration:none;
}
#container {
	width:864px;
	background:#fff;
	padding:16px 18px 20px 18px;
}
#slider {
	background:url(images/slider.jpg);
	width:866px;
	height:309px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
#slider .image {
	float:left;
	display:inline;
	width:345px;
	padding-top:19px;
	text-align:center;
	padding-right:50px;
}
#slider .info {
	float:left;
	display:inline;
	width:415px;
	padding-top:52px;
	font-size:11px;
	color:#585f63;
}
#slider h2 {
	font-size:36px;
	color:#010101;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-weight:normal;
	padding-bottom:14px;
}
#slider-nav {
	position:absolute;
	right:17px;
	bottom:22px;
	z-index:3;
}
#slider-nav ul {
	list-style-type:none;
}
#slider-nav ul li {
	float:left;
	display:inline;
	padding-right:3px;
	height:17px;
	width:17px;
}
#slider-nav ul li a {
	float:left;
	display:inline;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	height:17px;
	width:17px;
}
#slider-nav ul li a {
	background:#fff;
}
#slider-nav ul li a:hover, #slider-nav ul li a.active {
	background:#3a3939;
}
#content {
	padding-top:23px;
	width:864px;
}
.triple {
}
.triple ul {
	list-style-type:none;
}
.triple li {
	float:left;
	width:255px;
	margin-right:20px;
}
.triple li.last {
	margin-right:0;
}
.triple li ul.inner {
}
.triple li ul.inner li {
	width:250px;
	background:url(images/bull.gif) no-repeat 0 9px;
	padding-left:12px;
	margin-left:-5px;
	line-height:22px;
}
.triple li ul.inner li a {
	font-weight:normal;
}
.triple li ul.inner li a:hover {
	text-decoration:none;
}
.triple li h3 {
	font-size:18px;
	color:#403f3f;
	font-weight:normal;
	background:url(images/dashes.gif) repeat-x 0 bottom;
	padding-bottom:10px;
	margin-bottom:10px;
}
.triple li a {
	font-weight:bold;
	text-decoration:underline;
}
.triple li a:hover {
	text-decoration:none;
}
.triple .projects {
}
.triple .projects a {
	float:left;
	margin:0 4px 4px 0;
}
.triple .projects img {
	float:left;
	border:solid 1px #ccc;
	padding:1px;
}
.footer {
	font-size:10px;
	padding:10px 0;
}
.footer, .footer a {
	color:#898988;
	text-decoration:none;
}
.footer p {
	margin:0;
	padding:0;
	line-height:normal;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
